{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                    "@root": "./",
                    "@components": "./src/components",
                    "@core": "./src/core",
                    "@custom": "./src/custom",
                    "@i18n": "./src/lib/i18n",
                    "@pages": "./src/pages",
                    "@theme": "./src/theme",
                    "@helpers": "./src/helpers",
                    "@services": "./src/services",
                    "@config" : "./swift.config.js",
                    "@lib": "./src/lib",
                    "@stores": "./src/stores",
                    //commons components
                    "@common_button": "./src/core/commons/Button",
                    "@common_breadcrumb": "./src/core/commons/Breadcrumb",
                    "@common_confirmdialog": "./src/core/commons/ConfirmDialog",
                    "@common_dropfile": "./src/core/commons/DropFile",
                    "@common_googlemaps": "./src/core/commons/GoogleMaps",
                    "@common_gridlist": "./src/core/commons/GridList",
                    "@common_priceformat": "./src/core/commons/PriceFormat",
                    "@common_ratingstar": "./src/core/commons/RatingStar",
                    "@common_tabs": "./src/core/commons/Tabs",
                    "@common_toast": "./src/core/commons/Toast",
                    "@common_typography": "./src/core/commons/Typography",
                    "@common_checkbox": "./src/core/commons/CheckBox",
                    "@common_password": "./src/core/commons/Password",
                    "@common_radio": "./src/core/commons/Radio",
                    "@common_rangeslider": "./src/core/commons/RangeSlider",
                    "@common_select": "./src/core/commons/Select",
                    "@common_textfield": "./src/core/commons/TextField"
                }
            }
        ]
    ]
}