{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                    "@root": "./",
                    "@core": "./core",
                    "@core_modules": "./core/modules",
                    "@custom": "./src/custom",
                    "@i18n": "./src/lib/i18n",
                    "@theme": "./src/theme",
                    "@helpers": "./src/helpers",
                    "@services": "./src/services",
                    "@config" : "./swift.config.js",
                    "@lib": "./src/lib",
                    "@layout" : "./core/modules/theme/layout",
                    //commons components
                    "@common_button": "./core/modules/commons/Button",
                    "@common_qty": "./core/modules/commons/ButtonQty",
                    "@common_breadcrumb": "./core/modules/commons/Breadcrumb",
                    "@common_confirmdialog": "./core/modules/commons/ConfirmDialog",
                    "@common_dropfile": "./core/modules/commons/DropFile",
                    "@common_googlemaps": "./core/modules/commons/GoogleMaps",
                    "@common_gridlist": "./core/modules/commons/GridList",
                    "@common_priceformat": "./core/modules/commons/PriceFormat",
                    "@common_ratingstar": "./core/modules/commons/RatingStar",
                    "@common_tabs": "./core/modules/commons/Tabs",
                    "@common_toast": "./core/modules/commons/Toast",
                    "@common_typography": "./core/modules/commons/Typography",
                    "@common_checkbox": "./core/modules/commons/CheckBox",
                    "@common_password": "./core/modules/commons/Password",
                    "@common_radio": "./core/modules/commons/Radio",
                    "@common_rangeslider": "./core/modules/commons/RangeSlider",
                    "@common_select": "./core/modules/commons/Select",
                    "@common_textfield": "./core/modules/commons/TextField",
                    "@common_banner": "./core/modules/commons/Banner",
                    "@common_carousel": "./core/modules/commons/carousel",
                    "@common_image": "./core/modules/commons/Image",
                    "@common_backdrop": "./core/modules/commons/Backdrop",
                    "@common_pageprogress": "./core/modules/commons/PageProgress",
                    "@common_slick": "./core/modules/commons/Slick",
                    "@common_slider": "./core/modules/commons/Slider",
                    "@common_filterdialog": "./core/modules/commons/FilterDialog",
                    "@common_forms": "./core/modules/commons/Forms",
                    "@common_searchmodal": "./core/modules/commons/SearchModal",
                    "@common_loaders": "./core/modules/commons/Loaders",
                    "@common_navigation": "./core/modules/commons/Navigation",
                    "@common_spancategory": "./core/modules/commons/SpanCategory",
                    "@common_span": "./core/modules/commons/Span",
                    "@common_skeleton": "./core/modules/commons/Skeleton",
                    "@common_scrolltotop": "./core/modules/commons/ScrollToTop",
                    "@common_headermobile": "./core/modules/theme/components/header/mobile",
                    "@common_headerdesktop": "./core/modules/theme/components/header/desktop",
                    "@common_bottomnavigation": "./core/modules/theme/components/bottom-navigation/mobile",
                    "@common_footer": "./core/modules/theme/components/footer/desktop"
                }
            }
        ]
    ]
}
