{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                    "@root": "./",
                    "@components": "./src/components",
                    "@i18n": "./src/lib/i18n",
                    "@pages": "./src/pages",
                    "@theme": "./src/theme",
                    "@helpers": "./src/helpers",
                    "@services": "./src/services",
                    "@config" : "./swift.config.js",
                    "@lib": "./src/lib"
                }
            }
        ]
    ]
}