/* ------------------------------ */
/* General
/* ------------------------------ */

main {
  font-family: Montserrat;
  max-width: 900px;
  display: block;
  left: 0;
  margin: 0 auto 60px;
}

.clear-margin-padding  {
  margin : 0 !important;
  padding : 0 !important;
}

.hide {
  display: none !important;
}

.show  {
  display: block;
}

.container {
  padding: 18px;
}

@media (max-width: 500px) {
  main {
    max-width: 100vw;
  }
}
