import fetch from "node-fetch";
import Home from "@pages/home";
import Layout from "@components/Layout";


Home.getInitialProps = async () => ({
    namespacesRequired: ["common"]
});

// This function gets called at build time on server-side.
// It won't be called on client-side, so you can even do
// direct database queries. See the "Technical details" section.
export async function getStaticProps() {
    // Call an external API endpoint to get posts.
    let res = await fetch("https://cloudreports.net/sample/api/countries.json");
    const tests = await res.json();

    return {
        props: {
            pageConfig
        }
    };
}

export default Layout(Home);
